.header {
    width: var(--width-up);
    height: var(--height-up);
    background-color: var(--color-saphire);
    color: var(--color-silver)
}

.header h1 {
    padding-left: 8px;
    font-size: var(--font-size-h1);
}

.second {
    text-align: center;
    padding-top: 16px;
}