/*author section*/
.author {
    height: 472px;
    display: block;
    clear: both;
}
.author img{
    float: left;
    padding-left: 85px;
    padding-right: 74px;
}
.author p {
    padding-top: 34px;
    padding-right: 34px;
}

/*links section*/
.links {
    height: 175px;
    text-align: center;
    background-color: white;
}
.links img {
    margin-left: 34px;
    margin-top: 62px;
}
.links a:hover {
    opacity: 0.7;
}

/*works section*/
.works {
    text-align: center;
}
.works img {
    padding-top: 22px;
    padding-left: 110px;
    padding-bottom: 22px;
    
}

/*useful section*/
.useful {
    height: 195px;
    text-align: center;
    background-color: white;
}

.useful img {
    margin: auto;
    padding-left: 35px;
    padding-bottom: 44px;
}
.useful a:hover {
    opacity: 0.7;
}
.vivat {
    padding-top: 44px;
}
.leo {
    padding-top: 56px;
}